<div class="modal fade" id="UpdateDepatmentModal" tabindex="-1" role="dialog" aria-labelledby="UpdateDepartmentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UpdateDepartmentModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="UpdateFieldPositionName">Наименование отдела</span>
                    </div>
                    <input type="text" class="form-control" aria-label="UpdateFieldPositionName" aria-describedby="UpdateFieldPositionName" @bind-value="Department.Department">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="@(() => Save())">Сохранить</button>
            </div>
        </div>
    </div>
</div>

@code{
  [Parameter]
  public CPS.Departments Department { get; set; }
  protected override void OnInitialized()
  {
      Department = new CPS.Departments();
  }
  private void Save()
  {
      Data.GrpcClient.UpdateObject(Department, Data.ObjectType.Depatment);
  }
}